<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">库存商品转换</h1>
</div>
<div class="wrapper-md" >
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" class="inline" style="border: solid 1px silver;width: 40%">
                <p></p>
                <div class="form-group">
                    <label class="col-sm-6">库存商品</label>
                    <input type="text" class="form-control" style="width: 40%" ng-model="stock.goods_name" readonly>
                </div>
                <div class="form-group">
                    <label class="col-sm-6">数量：</label>
                    <input type="number" class="form-control"  style="width: 40%" ng-model="out.number"/>
                </div>
                <div class="form-group">
                    <label class="col-sm-6">单位：</label>
                    <p>{{stock.unit_name}}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-6">价格：</label>
                    <input type="number" class="form-control"  style="width: 40%" ng-model="out.price"/>
                </div>
            </form>
            <div class=" inline" style="text-align: center;width: 10%">==></div>
            <form role="form"  class="inline" style="border: solid 1px silver;width: 40%">
                <p></p>
                <div class="form-group">
                    <label class="col-sm-4">转换商品:</label>
                    <ui-select ng-model="in.good" on-select="getUnit($item)"  class="inline" style="width:50%">
                        <ui-select-match >{{$select.selected.goods_name}}</ui-select-match>
                        <ui-select-choices repeat="good in goods"
                                           refresh="query_goods($select.search)"
                                           refresh-delay="0" >
                            <div ng-bind-html="good.goods_name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">数量:</label>
                    <select ng-model="in.number" class="form-control  inline" style="width: 40%">
                        <option ng-repeat="store in stores" value="{{store.store_id}}">{{store.store_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">单位:</label>
                    <select ng-model="in.unit" class="form-control  inline" style="width: 40%">
                        <option ng-repeat="unit in units" value="{{unit.unit_id}}">{{unit.unit_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-4" >价格:</label>
                    <input type="number" class="form-control inline " style="width: 30%" ng-model="in.price">
                </div>

            </form>
            <div class="form-group">
                <label class="col-sm-2 inline">&nbsp;备&nbsp;注:</label>
                <textarea class="form-control inline " ng-model="remark"></textarea>
            </div>
            <div class="modal-footer" style="text-align: right">
                <button type="submit" class="btn m-b-xs w-xs  btn-success " ng-disabled="check">{{!check?'转换':'保存中..'}}</button>
                <button type="submit" class="btn m-b-xs w-xs  btn-primary " ng-click="ok()">取消</button>
            </div>
        </div>
    </div>

</div>