<div class="modal-header">
    <h4>添加银行</h4>
</div>
<form class="form-validation" ng-submit="add()">
<div class="modal-body">
    <label>银行名称:</label><br>
    <input type="text" class="form-control" ng-model="bank.bank_name" required><br>
    <label>初始金额:</label><br>
    <input type="number" class="form-control" ng-model="bank.balance" required><br>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit">保存</button>
    <a class="btn btn-default" ng-click="$dismiss('cancel')">取消</a>
</div>
</form>